<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(@title || "Music Plugin Webapp") %></title>
    <%= stylesheet_link_tag 'reset', 'application' %>
    <%= javascript_include_tag 'application', 'jquery' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="header" class="clearfix">
        <h1><%= link_to(h(@title), root_url) %></h1>
        
        <div id="login">
          <% if @current_user %>
            Welcome <%= @current_user.login %>! Not you?
            <%= link_to "Log out", logout_path %>
          <% else %>
            <%= link_to "Sign up", signup_path %> or
            <%= link_to "log in", login_path %>.
          <% end %>
        </div>
      </div>
      
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
